<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">
<style>
    body,
    html {
        user-select: none
    }

    li,
    ul {
        list-style: none;
        margin: 0;
        padding: 0
    }

    li {
        float: left;
        overflow: hidden
    }

    .item {
        width: 102px;
        height: 72px;
        position: relative
    }

    .item .img {
        text-align: center;
        position: relative;
        width: 102px;
        height: 72px;
        max-width: 100%
    }

    .item .img>i {
        font-size: 32px;
        margin-top: 18px
    }

    .item .img>span {
        display: block;
        word-wrap: none
    }

    .item .button {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .7);
        text-align: center;
        display: none;
        width: 100%;
        height: 100%;
        color: #fff
    }

    .item .button span {
        display: block;
        line-height: 36px;
        cursor: pointer
    }

    .item .button span:hover {
        background: rgba(255, 0, 0, .7)
    }

    .item .img:hover .button {
        display: block
    }

    .footer {
        margin-top: 150px
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px
    }

    ::-webkit-scrollbar-thumb {
        background: #49b1f5
    }

    ::-webkit-scrollbar-track {
        background-color: transparent
    }
</style>
<div class="container">
    <h2>小康的Fontawesome5表情速查</h2><br><!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#fas">fas 实心图标</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#far">far 常规图标</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#fab">fab 品牌图标</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#notices">公告板</a></li>
    </ul>
    <div class="tab-content">
        <!-- TAG fas -->
        <div id="fas" class="container tab-pane active in"><br>
            <ul class="block-icon-list clearfix">
                <% site.data.fas.forEach(function(menu){ %>
                <li class="item">
                    <div class="img"><i class="<%= menu.icon %>"></i> <span><%= menu.icon %></span>
                        <div class="button"><span class="copy" data-clipboard-text="<%= menu.icon %>">完整类名</span>
                            <span class="copy" data-clipboard-text="<i class='<%= menu.icon %>'></i>">I 标签</span>
                        </div>
                    </div>
                </li>
                <% }); %>
            </ul>
        </div>
        <!-- TAG far -->
        <div id="far" class="container tab-pane"><br>
            <ul class="block-icon-list clearfix">
                <% site.data.far.forEach(function(menu){ %>
                <li class="item">
                    <div class="img"><i class="<%= menu.icon %>"></i> <span><%= menu.icon %></span>
                        <div class="button"><span class="copy" data-clipboard-text="<%= menu.icon %>">完整类名</span>
                            <span class="copy" data-clipboard-text="<i class='<%= menu.icon %>'></i>">I 标签</span>
                        </div>
                    </div>
                </li>
                <% }); %>
            </ul>
        </div>
        <!-- TAG fab -->
        <div id="fab" class="container tab-pane"><br>
            <ul class="block-icon-list clearfix">
                <% site.data.fab.forEach(function(menu){ %>
                <li class="item">
                    <div class="img"><i class="<%= menu.icon %>"></i> <span><%= menu.icon %></span>
                        <div class="button"><span class="copy" data-clipboard-text="<%= menu.icon %>">完整类名</span>
                            <span class="copy" data-clipboard-text="<i class='<%= menu.icon %>'></i>">I 标签</span>
                        </div>
                    </div>
                </li>
                <% }); %>
            </ul>
        </div>
        <div id="notices" class="container tab-pane fade"><br>
            <%- page.content %>
        </div>

    </div>
</div>

<script>
    var clipboard = new ClipboardJS(".copy"); clipboard.on("success", function (o) { console.info("Action:", o.action), console.info("Text:", o.text), console.info("Trigger:", o.trigger), o.clearSelection(), alert("ok") }), clipboard.on("error", function (o) { console.error("Action:", o.action), console.error("Trigger:", o.trigger) })

    $(document).ready(function () {
        $('footer').remove()
    })
</script>